<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <div class="main-content">
    {{>header}}
    <div>
        <p>this was is a picture of {{name}}</p>
        <p>actual picture was removed by hackers</p>

        
    </div>
    </div>

    {{>footer}}
</body>
</html>