<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- add icon in the tabBar --}}
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/js/app.js"></script>
</head>
<body>
    <div class='main-content'>
        {{>header}}

        <form id="form_weather">
            <input type="text" placeholder="Location">
            <button type="submit" id="button_submit">Submit</button>
        </form>

        <p id="p_location"></p>
        <p id="p_forecast"></p>
    </div>
    {{>footer}}
</body>
</html>