{{!-- only part of an html page --}}
{{!-- title va diferit in functie de ruta, in functie
de ce e definit pe ruta respectiva, dar tre definit
 --}}


<header>
<h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>


